{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./",
          "@client": "./client",
          "@utils": "./client/utils",
          "@store": "./client/store",
          "@database": "./database.json",
          "@styles": "./client/styles",
          "@comp": "./client/components"
        }
      }
    ]
  ]
}