{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./",
          "@client": "./app/client",
          "@styles": "./app/client/styles",
          "@comp": "./app/client/components"
        }
      }
    ]
  ]
}