{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./",
          "@client": "./src",
          "@utils": "./src/utils",
          "@store": "./src/store",
          "@styles": "./src/styles",
          "@comp": "./src/components"
        }
      }
    ]
  ]
}