.banner-bg {
  background: radial-gradient(circle at 50% 40%,
      rgba(255, 255, 255, 1),
      rgba(243, 243, 243, 1));
  border-bottom-left-radius: 100% 3rem;
  border-bottom-right-radius: 100% 3rem;
  height: 25rem;

  @media (min-width: 568px) {
    border-bottom-left-radius: 100% 5rem;
    border-bottom-right-radius: 0;
    padding: 4rem 3rem;
  }

  @media (min-width: 768px) {
    background: radial-gradient(circle at 70%,
        rgba(255, 255, 255, 1),
        rgba(245, 245, 245, 1),
        rgba(245, 245, 245, 1));
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom-right-radius: 40rem 25rem;
    border-bottom-left-radius: 30rem 7rem;
  }

  @media (min-width: 992px) {
    padding: 2rem 5rem;
    height: 26rem;
  }

  @media (min-width: 1200px) {
    padding: 2rem 7rem;
  }

  padding: 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .banner-img {
    width: 70%;
    max-width: 30rem;
    position: relative;
    z-index: 11;

    @media (min-width: 768px) {
      width: 60%;
    }
  }

  .banner-content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      text-align: left;
    }

    section {
      text-align: center;
      margin: 2rem auto 1rem;

      @media (min-width: 768px) {
        text-align: left;
      }

      h3 {
        font-family: 'Quicksand';
        font-size: 1.7rem;

        @media (min-width: 768px) {
          font-size: 2rem;
        }

        @media (min-width: 992px) {
          font-size: 2.4rem;
        }

        font-weight: 600;
      }

      p {
        font-size: .7rem;
        width: 70%;
        font-family: 'Quicksand';
        margin: .8rem auto;

        @media (min-width: 768px) {
          margin: .8rem 0;
          width: 80%;
        }

        @media (min-width: 992px) {
          font-size: .9rem;
        }
      }
    }

    .banner-action {
      padding: .5rem 1rem;
      font-size: .7rem;

      @media (min-width: 768px) {
        align-self: flex-start;
      }

      border-color: rgb(204, 60, 86);
      color: white;
      font-weight: 600;
      font-family: 'Quicksand';
      background-color: #FC6681;
    }

  }

  .banner-papers {
    width: 100%;
    position: absolute;
    bottom: 12%;
    left: 1.5rem;
    transform: scale(1.4);
    z-index: 1;

    @media (min-width: 568px) {
      width: 60%;
      bottom: 25%;
      left: 20%;
    }

    @media (min-width: 768px) {
      left: 1.5rem;
      opacity: .7;
      bottom: 25%;
    }

    @media (min-width: 992px) {
      transform: scale(1);
      bottom: 5%;
    }
  }
}