.features-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #f9db46, #FC6681, #FC6681);
  width: 100%;
  background-position: 40% 50%;
  padding: 3rem 2rem 4rem;
  position: relative;
  z-index: 8;

  @media (min-width: 568px) {
    background-position: initial;
    padding: 3rem 4rem 4rem;
    background: linear-gradient(180deg, #F9DB46, #FC6681);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-family: 'Quicksand';
      font-size: .7rem;
      color: #fff;
      width: 100%;
      margin: 1rem auto;

      @media (min-width: 992px) {
        width: 50%;
      }
    }

    h4 {
      font-size: 1.3rem;
      font-weight: 700;
      color: #fff;
      font-weight: 400;
      font-family: 'Quicksand';

      @media (min-width: 992px) {
        font-size: 1.5rem;
      }
    }

  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 568px) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

    div {
      margin: .7rem auto;
      width: 8rem;

      @media (min-width: 568px) {
        width: 40%;
      }

      @media (min-width: 768px) {
        width: 25%;
        margin: 1.5rem auto;
      }


      @media (min-width: 992px) {
        width: 20%;
      }


      .feat {
        width: 4rem;
        margin: 1rem auto;

        &:hover {
          transform: scale(1.1);
        }

        @media (min-width: 568px) {
          width: 45%;
        }
      }

      h5 {
        font-size: .8rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
        font-family: 'Quicksand';
      }
    }
  }
}